<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ajuaresluly">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="ajuareslulyEJB.jar" deploy-path="/" handle="module:/resource/ajuareslulyEJB/ajuareslulyEJB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ajuareslulyWeb.war" deploy-path="/" handle="module:/resource/ajuareslulyWeb/ajuareslulyWeb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
