<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />

			<p:menuitem value="Productos" icon="pi pi-shopping-bag"
				action="#{beanProductos.actionReporte()}" ajax="false" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Inventario"></p:staticMessage>
	</h:form>
	<hr />

	<h:form id="form">
		<p:panel header="Insertar un nuevo producto">
			<p:panelGrid columns="2">

				<h:outputText value="Nombre Producto" />
				<p:inputText value="#{beanProductos.nombre}" maxlength="50"
					required="true" requiredMessage="Debe ingresar el nombre"
					placeholder="Ingrese el nombre del producto" />
				<h:outputText value="Descripcion Productos" />
				<p:inputText value="#{beanProductos.descripcion}" required="true"
					requiredMessage="Debe ingresar la descripcción" maxlength="100"
					placeholder="Ingrese la descripción" />
				<h:outputText value="Precio" />
				<p:inputNumber value="#{beanProductos.precio}" required="true"
					requiredMessage="Debe ingresar el precio"
					placeholder="Ingrese el precio" />
				<h:outputText value="Cantidad" />
				<p:spinner value="#{beanProductos.cantidad}" required="true"
					requiredMessage="Debe ingresar la cantidad" min="0" />
				<h:outputText value="Precio Venta Publico" />
				<p:inputNumber value="#{beanProductos.pvpublico}" required="true"
					requiredMessage="Debe ingresar el precio público" />
				<h:outputText value="Talla" />
				<p:selectOneMenu value="#{beanProductos.idTalla}" required="true"
					requiredMessage="Debe ingresar la talla">
					<f:selectItem itemLabel="Seleccione talla" />
					<f:selectItems value="#{beanProductos.listaTallas}" var="t"
						itemLabel="#{t.nombreTalla}" itemValue="#{t.idInvTalla}"></f:selectItems>
				</p:selectOneMenu>
				<p:commandButton value="Insertar" icon="pi pi-save"
					update="@form,:tabla"
					actionListener="#{beanProductos.actionListenerInsertarProducto()}">
				</p:commandButton>

			</p:panelGrid>
		</p:panel>
	</h:form>

	<h:form id="tabla">
		<p:panel header="Detalle de Productos">

			<p:dataTable value="#{beanProductos.listaProductos}" var="p" rows="8"
				paginator="true">
				<p:column headerText="Productos" filterBy="#{p.nombreProducto}"
					filterMatchMode="contains">
					<h:outputText value="#{p.nombreProducto}" />
				</p:column>

				<p:column headerText="Descripcion Producto"
					filterBy="#{p.descripcionProducto}" filterMatchMode="contains">
					<h:outputText value="#{p.descripcionProducto}" />
				</p:column>
				<p:column headerText="Precio" filterMatchMode="contains">
					<h:outputText value="#{p.precio}" />
				</p:column>
				<p:column headerText="Cantidad">
					<h:outputText value="#{p.cantidad}" />
				</p:column>
				<p:column headerText="Precio Venta Publico">
					<h:outputText value="#{p.pvPublico}" />
				</p:column>
				<p:column headerText="Estado">
					<h:outputText value="#{p.estado}" />
				</p:column>
				<p:column headerText="Talla">
					<h:outputText value="#{p.invTalla.nombreTalla}" />
				</p:column>
				<p:column headerText="Opciones">
					<p:commandButton icon="pi pi-trash" title="eliminar"
						update="@form, :tabla"
						actionListener="#{beanProductos.actionListenerEliminarProducto(p.idInvProducto)}">
						<p:confirm header="Confirmación"
							message="Desea borrar este producto?" icon="pi pi-info-circle" />
					</p:commandButton>

					<p:commandButton icon="pi pi-pencil" title="Editar"
						update="@form, :formEdicion" oncomplete="PF('dlgEdicion').show()"
						actionListener="#{beanProductos.actionListenerSeleccionarProducto(p)}" />
				</p:column>


			</p:dataTable>


		</p:panel>
	</h:form>


	<p:dialog header="Editar información" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Nombre Producto: " />
			<h:outputText
				value="#{beanProductos.productoSeleccionado.nombreProducto}" />
			<p:panelGrid columns="2">
				<h:outputText value="Nombre" />
				<p:inputText
					value="#{beanProductos.productoSeleccionado.nombreProducto}"
					required="true" requiredMessage="Debe ingresar el nombre" />
				<h:outputText value="Descripcion Producto" />
				<p:inputText
					value="#{beanProductos.productoSeleccionado.descripcionProducto}"
					required="true" requiredMessage="Debe ingresar la descripcción" />
				<h:outputText value="Precio" />
				<p:inputText value="#{beanProductos.productoSeleccionado.precio}" />
				<h:outputText value="Cantidad " />
				<p:inputText value="#{beanProductos.productoSeleccionado.cantidad}"
					required="true" requiredMessage="Debe ingresar la cantidad" />
				<h:outputText value="Precio Venta Publico" />
				<p:inputText value="#{beanProductos.productoSeleccionado.pvPublico}" />
				<h:outputText value="Talla" />
				<p:selectOneMenu value="#{beanProductos.idTalla}" required="true"
					requiredMessage="Debe ingresar la talla">
					<f:selectItem itemLabel="Seleccione talla" />
					<f:selectItems value="#{beanProductos.listaTallas}" var="t"
						itemLabel="#{t.nombreTalla}" itemValue="#{t.idInvTalla}"></f:selectItems>
				</p:selectOneMenu>
				<p:commandButton value="Actualizar" icon="pi pi-save"
					update="@form,:tabla"
					actionListener="#{beanProductos.actionListenerActualizarProducto()}" />
			</p:panelGrid>

		</h:form>
	</p:dialog>

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>
