<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Productos" icon="pi pi-briefcase" />
			<p:menuitem value="Ingresos" icon="pi pi-step-forward" />
			<p:menuitem value="Egressos" icon="pi pi-step-backward" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de inventario"></p:staticMessage>
	</h:form>
	<div></div>
	<hr/>
	<h:form id="form1">
        <p:messages>
            <p:autoUpdate />
        </p:messages>

        <p:panel collapsed="false">
            <f:facet name="header">
                <p:commandButton value="Nuevo producto" icon="pi pi-plus"
                    update="@form,:form2"
                    ></p:commandButton>
            </f:facet>
            <p:panelGrid columns="2">
                <h:outputText value="Nombre:" />
                <p:inputText value="#{beanProductos.nombre}" />

                <h:outputText value="Descripción:" />
                <p:inputText value="#{beanProductos.descripcion}" />

                <h:outputText value="Precio:" />
                <p:inputText value="#{beanProductos.precio}" />

                <h:outputText value="Precio público" />
                <p:inputText value="#{beanProductos.precio}" /> 
                
                <h:outputText value="cantidad" />
                <p:spinner value="#{beanProductos.cantidad}" /> 
                
                <h:outputText value="Talla" />
                <p:inputText value="#{beanProductos.talla}" /> 

                <p:commandButton
                    value="Insertar " update="@form,:form2"></p:commandButton>
            </p:panelGrid>
        </p:panel>
    </h:form>
	<div></div>
	
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	
		<h:form id="form2">
		
		<p:panel header="Listado de Productos">
			<p:dataTable value="#{beanProductos.listaProductos}" var="detalle"
						 rows="5">
						 
				<p:column headerText="ID Producto">
					<h:outputText value="#{detalle.idInvProducto}" />
				</p:column>
				<p:column headerText="Nombre">
					<h:outputText value="#{detalle.nombreProducto}" />
				</p:column>
				<p:column headerText="Descripción">
					<h:outputText value="#{detalle.descripcionProducto}" />
				</p:column>
				<p:column headerText="Precio">
					<h:outputText value="#{detalle.precio}" />
				</p:column>
				<p:column headerText="Precio público">
					<h:outputText value="#{detalle.pvPublico}" />
				</p:column>
				<p:column headerText="Cantidad">
					<h:outputText value="#{detalle.cantidad}" />
				</p:column>
				<p:column headerText="Talla">
					<h:outputText value="#{detalle.invTalla.nombreTalla}" />
				</p:column>
			
			</p:dataTable>
		
		</p:panel>
	
	</h:form>
	
</body>
</html>
