<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Proveedor" icon="pi pi-user"
				action="/pedido/gerente/proveedor" />
			<p:menuitem value="Historial de pedidos" icon="pi pi-shopping-cart"
				action="#{beanPedido.actionReporte()}" ajax="false" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Pedidos"></p:staticMessage>
	</h:form>
	<div></div>

	<p:panelGrid columns="2">

		<h:form id="formulario">
			<p:panelGrid columns="2">

				<h:outputText value="Proveedor:" />
				<p:selectOneMenu value="#{beanPedido.rucSeleccionado}" required="true"
								 requiredMessage="Debe ingresar un proveedor">
					<f:selectItem itemLabel="Seleccione el proveedor" />
					<f:selectItems value="#{beanPedido.listaProveedores}" var="r"
						itemLabel="#{r.empresa}" itemValue="#{r.ruc}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Fecha: " />
				<p:calendar value="#{beanPedido.fecha}" required="true"
					requiredMessage="Debe ingresar la fecha" />

				<p:commandButton value="Guardar" icon="pi pi-save"
					actionListener="#{beanPedido.actionListenerGuardar()}"
					update="@form,:form3, :datos, :footer" />

			</p:panelGrid>
		</h:form>

		<h:form id="form3">

			<p:panelGrid columns="5">

				<h:outputText value="Producto:" />
				<p:selectOneMenu value="#{beanPedido.idProducto}" required="true" 
								 requiredMessage="Debe seleccionar un producto">
					<f:selectItem itemLabel="Seleccione el producto..." />
					<f:selectItems value="#{beanPedido.listaProductos}" var="p"
						itemLabel="#{p.nombreProducto} - #{p.descripcionProducto}"
						itemValue="#{p.idInvProducto}"></f:selectItems>
					<p:ajax listener="#{beanPedido.listenerSeleccionarProducto()}" />
				</p:selectOneMenu>
				<h:outputText value="Cantidad: " />
				<p:spinner value="#{beanPedido.cantidad}" required="true"
					requiredMessage="Debe ingresar la cantidad" min="0" />
				<p:commandButton value="Agregar"
					actionListener="#{beanPedido.actionListenerAgregarDetalle()}"
					update="@form, :footer" />

			</p:panelGrid>

			<p:dataTable id="listaDT" value="#{beanPedido.listaDetalles}"
				var="detalle" rows="5">

				<p:column headerText="ID Producto">
					<h:outputText value="#{detalle.invProducto.idInvProducto}" />
				</p:column>
				<p:column headerText="Precio Unitario">
					<h:outputText value="#{detalle.invProducto.precio}" />
				</p:column>
				<p:column headerText="cantidad">
					<h:outputText value="#{detalle.cantidad}" />
				</p:column>
				<p:column headerText="Precio Total">
					<h:outputText value="#{detalle.precioTotal}" />
				</p:column>
				<p:column>
					<p:commandButton icon="pi pi-times-circle"
						action="#{beanPedido.eliminarDetalleTemporal()}"
						update="@form,:footer">
						<f:setPropertyActionListener value="#{detalle}"
							target="#{beanPedido.detalleSeleccionado}"></f:setPropertyActionListener>
					</p:commandButton>
				</p:column>

			</p:dataTable>



		</h:form>
		<h:form id="footer">
			<p:panelGrid columns="4">

				<h:outputText value="Subtotal:" />
				<h:outputText value="#{beanPedido.subtotal}" />
				<h:outputText value="Iva:" />
				<h:outputText value="#{beanPedido.iva}" />
				<h:outputText value="Costo Estimado: " />
				<h:outputText value="#{beanPedido.costoTotal}" />

			</p:panelGrid>
		</h:form>

	</p:panelGrid>
	<hr />

	<p:panel header="Datos pedidos">
		<h:form id="datos">
			<p:dataTable value="#{beanPedido.listaPedidos}" var="pedido" rows="5"
				paginator="true">
				  
				<!--   <p:column style="width:3rem;text-align:center">
					<p:commandButton action="#{beanPedido.actionMostrarDetalleCabecera()}" oncomplete="PF('pedidoDialogo').show()"
									 icon="pi pi-eye" title="ver"
									 update="@form">
						<f:setPropertyActionListener value="#{pedido}" target="#{beanPedido.cabeceraSeleccionado}"></f:setPropertyActionListener>
					</p:commandButton>
				</p:column>
				-->
				
				<p:column headerText="ID Pedido">
					<h:outputText value="#{pedido.idPedCompraCabecera}" />
				</p:column>
				<p:column headerText="Proveedor"
					filterBy="#{pedido.pedProveedor.ruc}" filterMatchMode="contains">
					<h:outputText value="#{pedido.pedProveedor.ruc}" />
				</p:column>
				<p:column headerText="fecha">
					<h:outputText value="#{pedido.fecha}" />
				</p:column>
				<p:column headerText="Subtotal">
					<h:outputText value="#{pedido.subtotal}" />
				</p:column>
				<p:column headerText="IVA">
					<h:outputText value="#{pedido.iva}" />
				</p:column>
				<p:column headerText="Costo Total">
					<h:outputText value="#{pedido.costoTotal}" />
				</p:column>

			</p:dataTable>

			<p:dialog header="Detalles del pedido" widgetVar="pedidoDialogo"
				modal="true">
				<p:outputPanel id="pedidoDetalle">

					<p:dataTable value="#{beanPedido.listaDetalleCabeceraSeleccionada}"
						var="cabecera">

						<p:column headerText="ID Detalle">
							<h:outputText value="#{cabecera.idPedCompraDetalle}" />
						</p:column>
						<p:column headerText="Cantidad">
							<h:outputText value="#{cabecera.cantidad}" />
						</p:column>

					</p:dataTable>

				</p:outputPanel>
			</p:dialog>
		</h:form>
	</p:panel>

</body>
</html>
