<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/pedido/gerente/menu" />
			<p:menuitem value="Proveedores" icon="pi pi-book"
				ajax="false" action="#{beanProveedor.actionReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Proveedores"></p:staticMessage>
	</h:form>

	<h:form id="form">
		<p:panel header="Insertar un nuevo proveedor">
			<p:panelGrid columns="2">

				<h:outputText value="Nombre de la empresa" />
				<p:inputText value="#{beanProveedor.nombreEmpresa}" required="true"
					requiredMessage="Debe ingresar el nombre de la empresa"
					maxlength="30" placeholder="Ingrese el nombre de la empresa" />
				<h:outputText value="RUC" />
				<p:inputText value="#{beanProveedor.ruc}" maxlength="13"
					required="true" requiredMessage="Debe ingresar el RUC"
					placeholder="Ingrese el RUC" />
				<h:outputText value="Teléfono" />
				<p:inputText value="#{beanProveedor.telefono}" maxlength="10"
					required="true" requiredMessage="Debe ingresar el teléfono"
					placeholder="Ingrese el teléfono" />
				<h:outputText value="Dirección" />
				<p:inputText value="#{beanProveedor.direccion}" maxlength="80"
					required="true" requiredMessage="Debe ingresar la dirección"
					placeholder="Ingrese la dirección" />
				<p:commandButton value="Insertar" icon="pi pi-save"
					actionListener="#{beanProveedor.actionListenerInsertarProveedor()}"
					update="@form,:tabla">
				</p:commandButton>

			</p:panelGrid>
		</p:panel>
	</h:form>

	<hr />

	<h:form id="tabla">
		<p:panel header="Detalle del proveedor">

			<p:dataTable value="#{beanProveedor.listaProveedor}" var="m" rows="5"
				paginator="true">

				<p:column headerText="Nombre de la empresa" filterBy="#{m.empresa}"
					filterMatchMode="contains">
					<h:outputText value="#{m.empresa}" />
				</p:column>
				<p:column headerText="RUC" filterBy="#{m.ruc}"
					filterMatchMode="contains">
					<h:outputText value="#{m.ruc}" />
				</p:column>
				<p:column headerText="Teléfono">
					<h:outputText value="#{m.telefono}" />
				</p:column>
				<p:column headerText="Dirección">
					<h:outputText value="#{m.direccion}" />
				</p:column>
				<p:column headerText="Estado">
					<h:outputText value="#{m.estado}" />
				</p:column>
				<p:column headerText="Opciones">
					<p:commandButton icon="pi pi-trash" title="eliminar"
						actionListener="#{beanProveedor.actionListenerEliminarProveedor(m.ruc)}"
						update="@form,:tabla">
						<p:confirm header="Confirmación"
							message="Desea borrar este usuario?" icon="pi pi-info-circle" />
					</p:commandButton>


					<p:commandButton icon="pi pi-pencil" title="Editar"
						actionListener="#{beanProveedor.actionListenerSeleccionarProveedor(m)}"
						update="@form, :formEdicion" oncomplete="PF('dlgEdicion').show()" />
				</p:column>


			</p:dataTable>

		</p:panel>
	</h:form>

	<p:dialog header="Editar información" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Ruc : " />
			<h:outputText value="#{beanProveedor.proveedorSeleccionado.ruc}" />
			<p:panelGrid columns="2">
				<h:outputText value="Ruc" />
				<p:inputText value="#{beanProveedor.proveedorSeleccionado.ruc}" />
				<h:outputText value="Empresa" />
				<p:inputText value="#{beanProveedor.proveedorSeleccionado.empresa}" />
				<h:outputText value="Teléfono" />
				<p:inputText value="#{beanProveedor.proveedorSeleccionado.telefono}"
					maxlength="10" />
				<h:outputText value="Dirección " />
				<p:inputText
					value="#{beanProveedor.proveedorSeleccionado.direccion}" />

				<p:commandButton value="Actualizar" icon="pi pi-save"
					update="@form,:tabla"
					actionListener="#{beanProveedor.actionListenerActualizarProveedor()}" />

			</p:panelGrid>

		</h:form>
	</p:dialog>

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>
