<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/venta/empleado/menu" />
			<p:menuitem value="Clientes" icon="pi pi-book"
				ajax="false" action="#{beanCliente.actionReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Clientes"></p:staticMessage>
	</h:form>
	<hr />

	<h:form id="form">
		<p:panel header="Insertar un nuevo cliente">
			<p:panelGrid columns="2">

				<h:outputText value="Nombres" />
				<p:inputText value="#{beanCliente.nombre}" required="true"
					requiredMessage="Ingrese nombre" maxlength="20"
					placeholder="Ingrese los nombres" />
				<h:outputText value="Apellidos " />
				<p:inputText value="#{beanCliente.apellidos}" required="true"
					requiredMessage="Debe ingresar los apellidos" maxlength="20"
					placeholder="Ingrese los apellidos" />
				<h:outputText value="Cédula " />
				<p:inputText value="#{beanCliente.cedula}" maxlength="10"
					required="true" requiredMessage="Debe ingresar la cédula"
					placeholder="Ingrese la cédula" />
				<h:outputText value="Teléfono" />
				<p:inputText value="#{beanCliente.telefono}" maxlength="10"
					required="true" requiredMessage="Debe ingresar el teléfono"
					placeholder="Ingrese el teléfono" />
				<h:outputText value="Dirección" />
				<p:inputText value="#{beanCliente.direccion}" maxlength="70"
					required="true" requiredMessage="Debe ingresar la dirección"
					placeholder="Ingrese la dirección" />
				<p:commandButton value="Insertar" icon="pi pi-save"
					actionListener="#{beanCliente.actionListenerInsertarCliente()}"
					update="@form,:tabla">
				</p:commandButton>

			</p:panelGrid>
		</p:panel>
	</h:form>
	<h:form id="tabla">
		<p:panel header="Detalle del cliente">

			<p:dataTable value="#{beanCliente.listaCliente}" var="m" rows="5"
				paginator="true">

				<p:column headerText="Nombres" filterBy="#{m.nombre}"
					filterMatchMode="contains">
					<h:outputText value="#{m.nombre}" />
				</p:column>

				<p:column headerText="Apellidos" filterBy="#{m.apellidos}"
					filterMatchMode="contains">
					<h:outputText value="#{m.apellidos}" />
				</p:column>
				<p:column headerText="Cédula" filterBy="#{m.cedula}"
					filterMatchMode="contains">
					<h:outputText value="#{m.cedula}" />
				</p:column>
				<p:column headerText="Teléfono">
					<h:outputText value="#{m.telefono}" />
				</p:column>
				<p:column headerText="Dirección">
					<h:outputText value="#{m.direccion}" />
				</p:column>
				<p:column headerText="Estado">
					<h:outputText value="#{m.estado}" />
				</p:column>
				<p:column headerText="Opciones">
					<p:commandButton icon="pi pi-trash" title="eliminar"
						actionListener="#{beanCliente.actionListenerEliminarCliente(m.cedula)}"
						update="@form,:tabla">

						<p:confirm header="Confirmación"
							message="Desea borrar este usuario?" icon="pi pi-info-circle" />
					</p:commandButton>

					<p:commandButton icon="pi pi-pencil" title="Editar"
						actionListener="#{beanCliente.actionListenerSeleccionarCliente(m)}"
						update="@form, :formEdicion" oncomplete="PF('dlgEdicion').show()" />
				</p:column>


			</p:dataTable>



		</p:panel>
	</h:form>

	<p:dialog header="Editar información" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Cédula: " />
			<h:outputText value="#{beanCliente.clienteSeleccionado.cedula}" />
			<p:panelGrid columns="2">
				<h:outputText value="Cédula" />
				<p:inputText value="#{beanCliente.clienteSeleccionado.cedula}" />
				<h:outputText value="Nombres" />
				<p:inputText value="#{beanCliente.clienteSeleccionado.nombre}" />
				<h:outputText value="Apellidos " />
				<p:inputText value="#{beanCliente.clienteSeleccionado.apellidos}" />
				<h:outputText value="Teléfono" />
				<p:inputText value="#{beanCliente.clienteSeleccionado.telefono}"
					maxlength="10" />
				<h:outputText value="Dirección" />
				<p:inputText value="#{beanCliente.clienteSeleccionado.direccion}" />
				<p:commandButton value="Actualizar" icon="pi pi-save"
					update="@form,:tabla"
					actionListener="#{beanCliente.actionListenerActualizarCliente()}" />

			</p:panelGrid>

		</h:form>
	</p:dialog>

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>
