<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Clientes" icon="pi pi-user"
				action="/venta/empleado/cliente" />
			<p:menuitem value="Historial de ventas" icon="pi pi-book" ajax="false" 
				action="#{beanVentaFacturacion.actionReporte()}" />


			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Ventas"></p:staticMessage>
	</h:form>
	<div></div>

	<p:panelGrid columns="2">

		<h:form id="formulario">
			<p:panelGrid columns="2">

				<h:outputText value="Cliente" />
				<p:selectOneMenu value="#{beanVentaFacturacion.cedulaSeleccionada}"
					filterMatchMode="contains" filter="true" required="true" 
					requiredMessage="Debe seleccionar un cliente">
					<f:selectItem itemLabel="Seleccione el cliente" />
					<f:selectItems value="#{beanVentaFacturacion.listaClientes}"
						var="c" itemLabel="#{c.nombre} - #{c.apellidos}"
						itemValue="#{c.cedula}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Fecha: " />
				<p:calendar value="#{beanVentaFacturacion.fecha}" required="true"
					requiredMessage="Debe ingresar la fecha" />

				<p:commandButton value="Guardar" icon="pi pi-save"
					update="@form, :form3, :datos, footer"
					actionListener="#{beanVentaFacturacion.actionListenerGuardar()}" />

			</p:panelGrid>

		</h:form>

		<h:form id="form3">
			
			<p:panelGrid columns="7">
			
				<h:outputText value="Producto " />
				<p:selectOneMenu value="#{beanVentaFacturacion.idProducto}"
					filterMatchMode="contains" filter="true" required="true"
					requiredMessage="Debe ingresar el producto">
					<f:selectItem itemLabel="Seleccione el producto..." />
					<f:selectItems value="#{beanVentaFacturacion.listaProductos}"
						var="p" itemLabel="#{p.nombreProducto} - #{p.descripcionProducto} "
						itemValue="#{p.idInvProducto}"></f:selectItems>
					<p:ajax
						listener="#{beanVentaFacturacion.listenerSeleccionarProducto()}" />
				</p:selectOneMenu>
				<h:outputText value="Cantidad: " />
				<p:spinner value="#{beanVentaFacturacion.cantidad}" required="true"
					requiredMessage="Debe ingresar la cantidad" min="0" />
				<h:outputText value="Atentido por: " />
				<h:outputText value="#{beanVentaFacturacion.usuario.nombres} #{beanVentaFacturacion.usuario.apellidos}" />
				
				<p:commandButton value="Agregar" update="@form, :footer"
					actionListener="#{beanVentaFacturacion.actionListenerAgregarDetalle()}" />

			</p:panelGrid>
			<p:dataTable value="#{beanVentaFacturacion.listaDetalles}"
				var="detalle" rows="5">

				<p:column headerText="ID Producto">
					<h:outputText value="#{detalle.invProducto.idInvProducto}" />
				</p:column>
				<p:column headerText="Precio Unitario">
					<h:outputText value="#{detalle.invProducto.pvPublico}" />
				</p:column>
				<p:column headerText="cantidad">
					<h:outputText value="#{detalle.cantidad}" />
				</p:column>
				<p:column headerText="Precio Total">
					<h:outputText value="#{detalle.precioTotal}" />
				</p:column>
				<p:column>
					<p:commandButton icon="pi pi-times-circle"
						action="#{beanVentaFacturacion.actionListenerEliminarDetalleTemporal()}"
						update="@form, :footer">
						<f:setPropertyActionListener value="#{detalle}"
							target="#{beanVentaFacturacion.detalleSeleccionado}"></f:setPropertyActionListener>
					</p:commandButton>
				</p:column>

			</p:dataTable>


		</h:form>
		<h:form id="footer">
			<p:panelGrid columns="4">
				<h:outputText value="Subtotal:" />
				<h:outputText value="#{beanVentaFacturacion.subtotal}" />
				<h:outputText value="Iva:" />
				<h:outputText value="#{beanVentaFacturacion.iva}">
				</h:outputText>


				<h:outputText value="Costo Total: " />
				<h:outputText value="#{beanVentaFacturacion.costoTotal}" />

			</p:panelGrid>
		</h:form>

	</p:panelGrid>
	<hr />

	<p:panel header="Datos de ventas">
		<h:form id="datos">
			<p:dataTable value="#{beanVentaFacturacion.listaVentas}" var="ventas"
				rows="5" paginator="true">

				<p:column headerText="ID Venta">
					<h:outputText value="#{ventas.idFactVenta}" />
				</p:column>
				<p:column headerText="Cliente" filterBy="#{ventas.factCliente.cedula}">
					<h:outputText value="#{ventas.factCliente.cedula}" />
				</p:column>
				<p:column headerText="Fecha">
					<h:outputText value="#{ventas.fecha}" />
				</p:column>
				<p:column headerText="IVA">
					<h:outputText value="#{ventas.iva}" />
				</p:column>
				<p:column headerText="Subtotal">
					<h:outputText value="#{ventas.subtotal}" />
				</p:column>
				<p:column headerText="Costo total">
					<h:outputText value="#{ventas.costoTotal}" />
				</p:column>
				<p:column headerText="Vendedor">
					<h:outputText value="#{ventas.segUsuario.nombres} #{ventas.segUsuario.apellidos}" />
				</p:column>

			</p:dataTable>
		</h:form>
	</p:panel>
</body>
</html>
